body {
    color: grey;
    align-items: center;
}
 
#counter{
    margin: 0 auto;
    font-size: 40px;
}

button{
    color: rgb(233, 240, 239);
    background-color: rgba(137, 43, 226, 0.37);
    border: 1px solid rgb(63, 4, 68);
    border-radius: 100%;
    width:20px;
    height: 20px;
    }

span{
    color: rgb(184, 12, 236);
    margin-left: 10px;
    margin-right:10px;
    padding-top: 100px;
}

html{
    background-color: antiquewhite;
    font-family:sans-serif;
    text-align: center;
}

h1{
    border: 3px  rgb(184, 12, 236);
    
}
